.skills {
    float: left;
}
.square {
    float: left;
    margin: 20px;
}
.square img {
    width: auto;
    height: 200px;
}
.square_2 {
    float:left;
   
}
.address {
    float: right;
}
body {
    background-image: url(https://i.ibb.co/NsPCCWz/kapli.jpg);

    background-repeat: no-repeat;
    background-size: 120%;
}
.link {
    font: italic bold 24px Arial, sans-serif;
    color: blueviolet;
}
h1 {
    font-size: 5rem;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
#gray-background {
    background-color: #cccccc;
    padding: 15px;
    font-size: 10px;
    float: right;
}